
.pagination {
  text-align: center;
}

.pagination__list,
.pagination__item {
  display: inline-flex;
  justify-content: center;
}

.pagination__button-prev,
.pagination__button-nex {
  vertical-align: middle;
  cursor: pointer;
}

.pagination__display {
  margin-right: 20px;
  display: inline-flex;
}

.pagination__pager {
  display: inline-flex;
  align-items: center;
  width: 215px;
  justify-content: space-between;
}

.pagination__item {
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  line-height: 1.5
}

.pagination__item--active::after {
  display: none; 
}

.pagination__item--active .pagination__link {
  color: #fff;
}

.pagination__item--active {
  background: #27273e;
  border-radius: 10%;
}
