
.pagination {
  text-align: center;
}

.pagination__list,
.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__button-prev,
.pagination__button-nex {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.pagination__display {
  margin-right: 20px;
  display: inline-block;
}

.pagination__pager {
  display: inline-block;
}

.pagination__item {
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5
}

.pagination__item--active::after {
  display: none; 
}

.pagination__item--active .pagination__link {
  color: #fff;
}

.pagination__item--active {
  background: #27273e;
  border-radius: 10%;
}
