.responses {
  margin-bottom: 65px;
}

.responses__header {
  margin-bottom: 45px;
}

.responses__list {
  display: inline-flex;
  width: 870px;
  margin-bottom: 55px;
}

.responses__container {
  margin: 0 auto;
  width: 870px;  
}

.responses__list-item {
  display: flex;
  position: relative;
  padding-bottom: 28px;
  margin-bottom: 28px;
}

.responses__list-item:after {
  content: "";
  height: 1px;
  left: 0;
  right: 20%;
  position: absolute;
  bottom: 0;
  background: #d6c8c8;
}

.responses__list-item:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.responses__list-item:last-child::after {
  display: none;
}

.responses__item-pic {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  max-width: 160px;
}
.responses__item-desc {
  width: 79%;
}

.responses__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


