.services {
  margin-bottom: 60px;
}

.services__header {
  margin-bottom: 50px;
}

.services__list-list {
  display: flex;
  flex-wrap: wrap;
}

.services__list-item {
  max-width: 250px;
}

.services__list-item--top {
  margin-bottom: 45px;

}

.services__list-item {
  margin-right: 60px;
}


.services__list-item:nth-child(3n) {
  margin-right: 0;
}

.services__container {
  margin: 0 auto;
  width: 880px;  
}