.services__list-list {
  display: flex;
  flex-wrap: wrap;
}

.services__list-item {
  max-width: 250px;
  margin-right: 60px;
  margin-bottom: 70px;
}

.services__list-item:nth-child(3n) {
  margin-right: 0;
}

.services__container {
  margin: 0 auto;
  width: 880px;  
}